.skill {
  padding: 0 0 50px 0;
  position: relative;
}
.skill-bx {
 
  text-align: center;
  padding: 60px 50px;
}
.skill h2 {
	font-size: 45px;
	font-weight: 700;
}
.skill p {
    color: #B8B8B8;
    font-size: 18px;
    letter-spacing: 0.8px;
    line-height: 1.5em;
    margin: 14px 0 75px 0;
}
.skill-slider {
  width: 90%;
  margin: 0 auto;
  position: relative;
}

/* Container styles */
.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    color: white;
  }
  
  @media (min-width: 576px) {
    .container {
      max-width: 540px;
    }
  }
  
  @media (min-width: 768px) {
    .container {
      max-width: 720px;
    }
  }
  
  @media (min-width: 992px) {
    .container {
      max-width: 960px;
    }
  }
  
  @media (min-width: 1200px) {
    .container {
      max-width: 1140px;
    }
  }
  
  /* Row styles */
  .row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
  }
  
  /* Column styles */
  .col {
    flex: 1 0 0%;
    max-width: 100%;
    padding-right: 15px;
    padding-left: 15px;
  }
  
  @media (min-width: 576px) {
    .col-sm {
      flex: 0 0 auto;
      width: 100%;
    }
  
    .col-sm-1 {
      flex: 0 0 auto;
      width: 8.333333%;
    }
  
    .col-sm-2 {
      flex: 0 0 auto;
      width: 16.666667%;
    }
  
    .col-sm-3 {
      flex: 0 0 auto;
      width: 25%;
    }
  
    .col-sm-4 {
      flex: 0 0 auto;
      width: 33.333333%;
    }
  
    .col-sm-5 {
      flex: 0 0 auto;
      width: 41.666667%;
    }
  
    .col-sm-6 {
      flex: 0 0 auto;
      width: 50%;
    }
  
    .col-sm-7 {
      flex: 0 0 auto;
      width: 58.333333%;
    }
  
    .col-sm-8 {
      flex: 0 0 auto;
      width: 66.666667%;
    }
  
    .col-sm-9 {
      flex: 0 0 auto;
      width: 75%;
    }
  
    .col-sm-10 {
      flex: 0 0 auto;
      width: 83.333333%;
    }
  
    .col-sm-11 {
      flex: 0 0 auto;
      width: 91.666667%;
    }
  
    .col-sm-12 {
      flex: 0 0 auto;
      width: 100%;
    }
  }
  