:root {
    --clr-primary: rgba(15, 15, 15, 1);
    --clr-primarydead: rgba(15, 15, 15, 0);
    --clr-secondary: #FCFCFC;
    --clr-orange: #f88c00;
    --clr-third: rgb(235, 235, 161);
    --clr-fourth: #1E1E1E;
    --primary-font: Inter, ui-sans-serif, system-ui, sans-serif;
    --secondary-font: Poppins, sans-serif;
    --third-font: Tahoma, Verdana, sans-serif;
    --btn-scale: 1;
}

html {
    scroll-behavior: smooth;
    scroll-padding-top: 0;
}

body {
    margin: 0;
    padding: 0;
    position: relative;
    -webkit-overflow-scrolling: touch;
    background-color: #0F0F0F;
    font-family: var(--primary-font);
}

#root {
    min-height: 100vh;
    position: relative;
}